body
{
    background-color:rgb(30, 30, 219);
}
  header
{
   text-align:center;
   background-color:rgb(170, 77, 77);
}
img
{
    position:center;
}
li
{
    text-align:center;
    background-color:black;
}
h1
{
    text-align:center;
    background-color:slategrey;
}